.list {
    float: left;
    overflow: hidden;
    width: 310px;
    border: 1px solid #585858;
    margin-left: 5px;
    margin-right: 30px;
}

.title {
    border-bottom: 1px solid #585858;
    margin: 30px;
    padding-top: 1px;
    background-color: aquamarine;
}

.bigtitle {
    text-align: center;
}

.sns {
    text-align: left;
    margin-left: 30px;
}

.index {
    margin-right: auto;
    margin-left: 400px;
    width: 1300px;
    border: 1px solid black;
}

.mysns {
    margin-left: 5px;
}