.list {
    float: left;
    overflow: hidden;
    width: 310px;
    border: 1px solid #585858;
    margin-left: 5px;
    margin-right: 30px;
}

.title {
    border-bottom: 1px solid #585858;
    margin: 20px;
    padding-top: 10px;
    background-color: aquamarine;
}

.bigtitle {
    text-align: center;
}

.sns {
    text-align: left;
    margin-left: 30px;
}

.index {
    margin-right: auto;
    margin-left: 400px;
    width: 1300px;
    border: 1px solid black;
}

.mysns {
    margin-left: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}